@import "var";

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'),
  url('../fonts/open-sans-v18-latin_cyrillic-regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans-v18-latin_cyrillic-600.woff2') format('woff2'),
  url('../fonts/open-sans-v18-latin_cyrillic-600.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
  url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: $textColorBlack;
}

.body {
  padding-bottom: 30px;
  background-color: $backColor;
}

.container {
  max-width: $containerMaxWidth;
  margin: 0 auto;
  padding-top: 40px;
}

img {
  max-width: 100%;
}

.mobil-box {
  width: 100%;
}

@media (max-width: $media1024) {
  .container {
    max-width: $containerMaxWidth_M1;
  }
}

@media (max-width: $media768) {
  .container {
    max-width: $containerMaxWidth_M2;
  }
}

@media (max-width: $media320) {
  .container {
    padding: 30px 15px 0 15px;
    width: 100%;
  }
  .mobil-box {
    width: 100%;
    overflow: scroll;
  }
}
